{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:node/recommended-module"
  ],
  "plugins": ["react"],
  "rules": {
    "no-unused-vars": "warn",
    "no-unused-expressions": "warn",
    "no-cond-assign": "error",
    "no-param-reassign": "warn",
    "no-console": "warn"
  }
}
